.container-box {
  display: flex;
  justify-content: space-around;
  align-content: space-between;
  margin-top: 80px;
}
.content-box {
  width: 59%;
  height: 50px;
  border-right: 1px solid #fafafa;

}
.sidebar-box {
  width: 39%;
  height: 50px;
  /*border-top: 5px solid green;*/
}
.sidebar-box-txt {
  text-align: left;
  font-size: 20px;
  margin-top: 5px;
  font-weight: 600;
  padding: 0;

}

.content-title {
  width: 90%;
  margin-left: 4%;
  /*border-top: 5px solid blue;*/
}
.content-title-txt {
  font-size: 22px;
  margin-top: 5px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0;
}

